<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiejun.ge.zero.admin.mapper.SysPermissionMapper">
    <select id="selectPermsByUserId" resultType="java.lang.String">
        select
        sm.perms
        from
        sys_user su
        left join sys_user_role sur on su.user_id = sur.user_id
        left join sys_role sr on sur.role_id = sr.role_id
        left JOIN sys_role_menu srm on sr.role_id = srm.role_id
        LEFT JOIN sys_menu sm on srm.menu_id  = sm.menu_id
        <where>
            su.user_id = #{userId} and sm.menu_type = 'C' and su.del_flag = '0' and sr.del_flag = '0' and sm.del_flag = '0';
        </where>
    </select>
    <select id="selectSysRoleByUserId" resultType="java.lang.String">
        select
        sr.role_key
        from
        sys_role sr
        left join sys_user_role sur on sr.role_id = sur.role_id
        left join sys_user su on sur.user_id = su.user_id
        <where>
            su.user_id = #{userId} and su.del_flag = '0' and sr.del_flag = '0';
        </where>
    </select>
    <select id="selectAllSysMenu" resultType="com.tiejun.ge.zero.admin.domain.bo.SysMenuBO">
        select
            menu_id,
            menu_name,
            parent_id,
            order_num,
            path,
            component,
            query,
            route_name,
            is_frame,
            is_cache,
            menu_type,
            visible,
            status,
            perms,
            icon,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from sys_menu where del_flag = 0;
    </select>
    <select id="selectSysMenuByUserId" resultType="com.tiejun.ge.zero.admin.domain.bo.SysMenuBO">
        select
            sm.menu_id,
            sm.menu_name,
            sm.parent_id,
            sm.order_num,
            sm.path,
            sm.component,
            sm.query,
            sm.route_name,
            sm.is_frame,
            sm.is_cache,
            sm.menu_type,
            sm.visible,
            sm.status,
            sm.perms,
            sm.icon,
            sm.create_by,
            sm.create_time,
            sm.update_by,
            sm.update_time,
            sm.remark
        from sys_menu sm left join sys_role_menu srm on sm.menu_id = srm.menu_id
        left join sys_role sr on sr.role_id = srm.role_id
        left join sys_user_role sur on sur.role_id = sr.role_id
        where sm.del_flag = 0 and sur.user_id = ${userId};
    </select>
</mapper>